<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-4">
            <img ng-src="{{'data:'+book.coverType+';base64,'+book.cover}}" class="card-img" style="border-radius: 0;">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h3 class="card-title" ng-bind="book.title"></h3>
                <h6 class="card-subtitle mb-2 text-muted" ng-bind="book.author | stringConcat:', '"></h6>
                <p class="card-text" ng-bind="book.description"></p>
                <div class="row">
                    <div class="col">
                        <dl class="mb-0">
                            <dt>ISBN</dt>
                            <dd ng-bind="book.isbn"></dd>
                            <dt>Language</dt>
                            <dd>Unknown</dd>
                            <dt>Publisher</dt>
                            <dd ng-bind="book.publisher"></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl class="mb-0">
                            <dt>Publishing date</dt>
                            <dd ng-bind="book.published"></dd>
                            <dt>Page count</dt>
                            <dd ng-if="book.pageCount >= 0" ng-bind="book.pageCount"></dd>
                            <dd ng-if="book.pageCount == -1">Unknown</dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <dt>Subject</dt>
                        <ol ng-repeat="subject in book.subject" class="breadcrumb pt-0 pl-0 pb-0 mb-0"
                            style="background-color: transparent;">
                            <li class="breadcrumb-item" ng-repeat="entry in subject" ng-bind="entry"></li>
                        </ol>
                    </div>
                </div>
                <div class="text-right">
                    <button class="card-link btn btn-primary btn-sm ml-2" ui-sref="readBook({id:book.id})">
                        Read
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>